
/*for color scheme info go to https://www.nordtheme.com/ */

body{
	background-image: linear-gradient(-90deg, #3B4252, #434C5E);
	/* background-color: #434C5E; */
	text-align: center;
}

/* adding a custom font */
@font-nordic-navbar {
  font-family: nordicNavbar;
  src: url(Fonts/Norse-KaWI.otf);
  font-weight: bold;
}

/*Navigation panel color */
.Topnavigation {
	border-style: groove;
	background-color: #2E3440;
	overflow:hidden;
}


/* Link decoration inside navigation panel */
.Topnavigation a {
	float: center;
	text-align: center;
	padding: 15px 15px;
	padding-right: 5px;
	font-size: 25px;
	color: #D8DEE9;
	font-family: nordicNavbar, times, serif;
}

/*link color change on hover */
.Topnavigation a:hover {
	background-color: #5E81AC;
	color: black;
}

h1{
	color: #D8DEE9;
}

p{
	color:#E5E9F0;
}

/*news boxes */
.Newsbox {
	display: inline-block;
	background-color: #2E3440;
	Width: 60%;
	padding: 20px;
}

/*review site picture galary */
.review_pictures {
	margin: 5px;
	border: 1px solid;
	float: center;
	width: 180px;
}	

/*review site picture galary */
.review_pictures:hover {
	border: 1px solid #000000;
}	
	
/* review picture description */
.review_desc {
		padding :15px;
		text-align: center;
}	