
body{
	background-color: #d2b48c;
	text-align: center;
}

/*Navigation panel color */
.Topnavigation {
		background-color: #eed1ff;
		overflow:hidden;

}


/* Link decoration inside navigation panel */
-Topnavigation a {
	float: left;
	text-align: center;
	padding: 20px 20px;
	font-size: 20px;
}

/*link color change on hover */
.Topnavigation a:hover {
		background-color: #b043f0;
		color: black;
}

h1{
	color: blue;
}

p{
	color: black;
}