
body{
	background-color: #343148;
	text-align: center;
}

/* adding a costume font */
@font-nordic-navbar {
  font-family: nordicNavbar;
  src: url(Fonts/Norse-KaWI.otf);
  font-weight: bold;
}

/*Navigation panel color */
.Topnavigation {
	border-style: groove;
	background-color: #2A293E;
	overflow:hidden;
}


/* Link decoration inside navigation panel */
.Topnavigation a {
	float: center;
	text-align: center;
	padding: 15px 15px;
	padding-right: 5px;
	font-size: 25px;
	font-family: nordicNavbar, times, serif;
}

/*link color change on hover */
.Topnavigation a:hover {
	background-color: #b043f0;
	color: black;
}

h1{
	color: blue;
}

p{
	color:#577284;
}